.products-container {
  display: grid;
  /* Нужно что бы колнки автоматически перестраивались с минимальной и максимальной шириной */
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  /* чтобы между колонками был отступ */
  grid-gap: 15px;
  width: 85%;
  margin: var(--spacing-medium) auto;
}
.products-element {
  position: relative;
  display: flex;
  /* что бы были колонки */
  flex-direction: column;
  /* что бы прижимались к нижнему краю */
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.products-element:hover .products-text {
  display: block;
}

.products-text:hover {
  background-color: rgba(123, 123, 123, 0.515);
}

.products-text {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.products-element__art {
  color: white;
  margin-left: 1em;
}
.products-element__material {
  color: white;
  margin-left: 1em;
}

.products-element__name {
  margin-left: 1em;
  margin-top: 1em;
  font-weight: bold;
}
.products-element__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-element__price {
  color: white;
  margin-left: 1em;
}
.products-element__btn {
  color: white;
  margin-left: 1em;
  background-image: var(--linear-gradient);
  cursor: pointer;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

/* здесь добавлен модификатор актив, для дальнейшего добавления в js изменения кнопки */
.products-element__btn_active {
  border: 1px solid transparent;
  background-image: var(--linear-gradient);
}
